.main-contain{
    display: flex;
}
.dashboard-nav{
    background-color: #363740;
    max-width: 15vw;
    width: 100%;
}
.dashboard-container{
    position: relative;
    left: 20%;
    height: 100%;
    background-color: #F7F8FC;
    padding: 20px;
}
.nav-title{
    color: #fff !important;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
}
.dashboard-menu{
    background-color: #363740;
}
.dashboard-menu li a{
    color: #fff !important;
    padding-left: 20px;
    font-size: 19px;
}
.table-title{
    color: #00927C !important;
    padding:30px;
}
.table_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-sub-container{
    align-self: center;
    align-items: center;
}
.table_image_gallery{
    width: 55px;
    height: 50px;
    margin: 1px;
}
.table-sub-container .ant-table-pagination-right{
    display: flex;
    justify-content: center !important;
}
