.dashboard-nav{
    background-color: #363740;
    max-width: 15vw;
    width: 100%;
    height: 162vh;
}
.nav-title{
    color: #fff  !important;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 40px;
}
.dashboard-menu{
    background-color: #363740;
}
.dashboard-menu li a{
    color: #fff !important;
    padding-left: 20px;
    font-size: 19px;
}