*{
  margin: 0;
}
.info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
  margin-top: 48px;
  margin-left: 20px;
  height: 200px;
}
.price{
  color: #00C78A;
  font-size: 18px;
}
.workspace-name{
  color: #707472;
  font-weight: bold;
  font-size: 18px;
}
.location{
  color: #707472;
  font-size: 18px;
  flex-grow: 2;
}
.cover-image{
  width: 500px;
  height: 266px;
  margin-top: 42px;
  margin-left: 50px; 
}
.reviewers{
  color: #707472;
  font-size: 16px;
}
.ant-card-hoverable{
  cursor: auto;
}
.medium-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin-top: 48px;
  margin-left: 20px;
  height: 200px;
}
.medium-cover-image{
  width: 350px;
  height: 266px;
  margin-top: 42px;
  margin-left: 30px;
}
.small-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  margin-top:5px;
  margin-left: -10px;
  height: 140px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.small-price{
  color: #00C78A;
  font-size: 12px;
  margin:0;
}
.small-workspace-name{
  color: #707472;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
.small-location{
  color: #707472;
  font-size: 12px;
  flex-grow: 2;
  margin: 0;
  width: 130px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.small-cover-image{
  width: 180px;
  height: 150px;
  margin-top: 25px;
  margin-left: 10px;
}
.small-reviewers{
  color: #707472;
  font-size: 12px;
}
