.footer{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #007664;
    color: #fff;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding: 2px 80px;
    height: 60px;
    margin-top: 50px;
}
.icons-container, .copyright{
    width: 50%;
}
.copyright{
    font-size: 23px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.icons-container {
    display: flex;
    align-items: center;
}
.icon {
    padding-right: 10px;
}
@media only screen and (max-width: 600px) {
    .icons-container, .copyright{
        width: 100%;
        justify-content: center;
    }
    .footer{
        height: 100px;
    }
}